# 项目名称，结合LANGSMITH_API_KEY可在langsmith平台可视化跟踪
LANGSMITH_PROJECT=new-agent

# 添加API_KEY

# langsmith
LANGSMITH_API_KEY=

# deepseek官网
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# 阿里云百炼
ALIYUN_API_KEY=
ALIYUN_API_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# 智谱，可用于添加网页搜索智能体
ZHIPUAI_API_KEY=
ZHIPUAI_API_URL="https://open.bigmodel.cn/api/paas/v4/"



# 数据库配置，用postgresql

# 关系型数据配置
PG_DATABASE_URL=postgresql+asyncpg://postgres:123456@localhost:5433/ai_education

# 向量数据库配置
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=vector_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
# 向量数据库的文档名 todo 考虑不同的数据嵌入不同的向量文档加以隔离
POSTGRES_COLLECTION_NAME=documents


# Redis配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# 阿里云短信发送服务配置（暂未实现）
ALIYUN_ACCESS_KEY_ID=your_access_key_id
ALIYUN_ACCESS_KEY_SECRET=your_access_key_secret
ALIYUN_SMS_SIGN_NAME=P1dan
ALIYUN_SMS_TEMPLATE_CODE=SMS_123456789
ALIYUN_SMS_REGION_ID=cn-hangzhou

# 邮箱发送信息配置
# 邮箱配置（以 QQ 邮箱为例）
# 注意：QQ邮箱需用“授权码”，不是登录密码
EMAIL_SMTP_SERVER=smtp.qq.com
EMAIL_SMTP_PORT=465
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_USE_SSL=true
EMAIL_USE_TLS=false

# 如果用 163 邮箱：
# EMAIL_SMTP_SERVER=smtp.163.com
# EMAIL_SMTP_PORT=465
# EMAIL_USE_SSL=true





