# 项目名称，结合LANGSMITH_API_KEY可在langsmith平台可视化跟踪
LANGSMITH_PROJECT=new-agent

# 添加API_KEY

# langsmith
LANGSMITH_API_KEY=

# deepseek官网
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# 阿里云百炼
ALIYUN_API_KEY=
ALIYUN_API_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# 智谱，可用于添加网页搜索智能体
ZHIPUAI_API_KEY=
ZHIPUAI_API_URL="https://open.bigmodel.cn/api/paas/v4/"



# MySQL
# 方式1：直接提供完整URL
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/ai_education?charset=utf8mb4

# 方式2：分部分配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ai_education